html {
    scroll-behavior: smooth;
}

body {
   margin: 0;

}

header {
   position: relative;
   overflow: hidden;
}

#header-content {
   position: relative;
   z-index: 11;
   padding: 10px;
   text-align: center;
   margin: 50px;
   background: rgba(255, 255, 255, 0.45);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5.9px);
   -webkit-backdrop-filter: blur(5.9px);
   border: 1px solid rgba(255, 255, 255, 0.16);
}

.section-header {
   text-align: left;
   font-size: 8;
   color: #02502d;
}

#background {
   opacity: 80%;
   position: absolute;
   background: url(images/green.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 10;
}

header img {
   border: 5px solid #02502d;
   border-radius: 50%;
}

header img:hover {
   border: 5px solid #02673a;
}

h1 {
   text-align: center;
}

h2 {
   text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
  transition: 1s;
}

a:hover {
   text-decoration: none;
   color: #02673a;
}

.skills span {
   border: 1px solid #02502d;
   padding: 5px 10px;
   margin: 2px 2px;
   color: #02502d;
   display: inline-block;
   border-radius: 8px;
   font-size: 13px;
}

.class-name {
   color: #02502d;
   font-weight: bold;
}


section {
   padding: 15px;
}
    


.tags span {
   border: 1px solid #02502d;
   color: #02502d;
   padding: 5px 8px;
   display: inline-block;
   margin: 2px;
   border-radius: 8px;
   font-size: 0.8rem;
   }

.skills {
   color: #02502d;

   }

footer {
   font-size: 0.8rem;
}