html {
    scroll-behavior: smooth;
}

h2 {
   text-align: center;
   color:#079626;
}

.section-header {
   text-align: left;
   font-size: 8;
   color:#31eb59;
}

header img {
   border: 10px solid #15046b;
   border-radius: 50%;
}

header img:hover {
   border: 10px solid #ccc;
}

#background {
    opacity: 50%;
    position: absolute;
    background: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header content {
    position: relative;
    z-index: 11;
    padding: 10px;
    text-align: center;
}

a {
   text-decoration: none;
   color:#c6430f;
   transition: 1s;
}

a:hover {
   text-decoration: none;
   color:#049d4b;
}

.tags span {
    border: 1px solid #78dfe4;
    color: #78dfe4;
    padding: 5px 8px;
    display: inline-block;
    margin: 2px;
    border-radius: 8px;
    font-size: 0.8rem;
    }

.skills {
    color: #78dfe4;

    }

    .skills span {
      border: 1px solid #78dfe3;
      padding: 5px 10px;
      margin: 2px 2px;
      color: #78dfe3;
      display: inline-block;
      border-radius: 8px;
      font-size: 13px;
    }